intro-card {
  display: inline-block;
  border: var(--border);
  border-radius: 10px;
  padding: 1em;
}
/*Grid template */
body {
  --nav-width: 10rem;
  --aside-width: 12rem;

  display: grid;
  grid-template-areas:
    "header header header"
    "nav    main   aside"
    "footer footer footer";
  grid-template-columns: var(--nav-width) 1fr var(--aside-width);
  grid-template-rows: auto 1fr auto;
  min-height: 100svh;

  background: var(--color-primary);
  color: var(--color-text);

  a {
    color: var(--color-link);
  }
  a:visited {
    color: var(--color-link-visited);
  }
  > header {
    grid-area: header;
  }

  > nav {
    grid-area: nav;
    border-inline-end: var(--border);
  }

  > aside {
    input[type="radio"],
    label {
      cursor: pointer;
    }
  }

  > main {
    grid-area: main;
    padding: var(--space-2) var(--space-4);

    h1 {
      color: var(--color-accent);
      align-items: center;
    }

    .intro {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    img {
      max-width: 100%;
      height: auto;
    }
    iframe {
      width: 100%;
      max-width: 100%;
      aspect-ratio: 1900 / 1200;
      height: auto;
    }
  }

  > aside {
    grid-area: aside;
    padding: var(--space-2);
    border-inline-start: var(--border);
    background: var(--panel);
  }

  > footer {
    grid-area: footer;
  }

  @media (max-width: 40rem) {
    grid-template-areas:
      "header"
      "nav"
      "aside"
      "main"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr auto;

    > nav,
    > aside {
      border-inline: none;
      border-block-end: var(--border);
    }
  }
}
